[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pillow = "*"
psycopg2 = "*"
django = "*"
gunicorn = "*"
dj-database-url = "*"
whitenoise = "*"
django-allauth = "*"
django-crispy-forms = "*"
channels = "*"
channels-redis = "*"
daphne = "*"

[dev-packages]

[requires]
python_version = "3.10"
